annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
asttokens==3.0.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
debugpy==1.8.20
decorator==4.4.2
distro==1.9.0
et_xmlfile==2.0.0
executing==2.2.1
fastapi==0.136.1
fonttools==4.62.1
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.195.0
google-auth==2.50.0
google-auth-httplib2==0.3.1
google-genai==2.0.1
googleapis-common-protos==1.74.0
grpcio==1.80.0
grpcio-status==1.71.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.13
ImageIO==2.37.3
imageio-ffmpeg==0.6.0
ipykernel==7.2.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.8.0
jupyter_core==5.9.1
kiwisolver==1.5.0
matplotlib==3.10.8
matplotlib-inline==0.2.1
moviepy==1.0.3
nest-asyncio==1.6.0
numpy==2.4.2
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
parso==0.8.6
pexels-api==1.0.1
pillow==11.3.0
platformdirs==4.9.2
proglog==0.1.12
prompt_toolkit==3.0.52
proto-plus==1.27.2
protobuf==5.29.6
psutil==7.2.2
psycopg2-binary==2.9.12
pure_eval==0.2.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyzmq==27.1.0
requests==2.33.1
seaborn==0.13.2
six==1.17.0
sniffio==1.3.1
stack-data==0.6.3
starlette==1.0.0
tenacity==9.1.4
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.46.0
wcwidth==0.6.0
websockets==16.0
